
@font-face {
  font-family: "circularstd";
  src: local("circularstd"),url("./fonts/circular-std-medium-500.ttf") format("opentype");
  font-weight: normal;
}
*{
  padding: 0;
  margin: 0;
}
.charts{
  transition: all 0.5s ease-in-out;
}